<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.timeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../Style/css/main.css">
  <title>Document</title>
</head>

<body class="garcom flex-column">

  <main class="cardapio main">
    <section class="top">
      <div class="header">
        <img class="header-back" src="../Assets/Images/back.svg" alt="alt text" />
        <span class="header-title">Consulta de Cardápio</span>
      </div>
    </section>

    <section class="categories-content">
      <div class="categories">
        <div class="category-row">
          <div class="item-category">
            <span class="category-title">Sobremesa</span>
          </div>
          <div class="item-category">
            <span class="category-title">Prato Feito</span>
          </div>
          <div class="item-category">
            <span class="category-title">Pizza</span>
          </div>
          <div class="item-category">
            <span class="category-title">Hambúrguer</span>
          </div>
          <div class="item-category">
            <span class="category-title">Pizza</span>
          </div>
          <div class="item-category">
            <span class="category-title">Pizza</span>
          </div>
          <div class="item-category">
            <span class="category-title">Pizza</span>
          </div>
        </div>
      </div>
    </section>

    <section class="item-cards">
      <div class="container">
        <div class="items">

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>






          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item-card">
            <div class="card-description">
              <div class="card-description-info">
                <div class="top-description">
                  <span class="item-subtitle">Pizza de pepperoni</span>
                  <span class="item-price">R$70,00</span>
                </div>
                <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1 colher de sopa de
                  azeite
                  de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e sem sementes, 1/2
                  cebola
                  picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em fatias.</span>
              </div>
              <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png" alt="alt text" />
            </div>
            <div class="card-actions">
              <div class="item-tags">
                <div class="item-tag item-tag-green">
                  <span class="highlight">Tamanho F</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Lactose</span>
                </div>
                <div class="item-tag item-tag-yellow">
                  <span class="highlight">Sem Glúten</span>
                </div>
              </div>
              <div class="increment-buttons">
                <div class="button button-red">
                  <span class="symbol">-</span>
                </div>
                <div class="button button-green">
                  <span class="symbol">+</span>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </section>








  </main>

</body>

</html>