<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->
    <link rel="stylesheet" type="text/css" href="../Style/css/main.css" />
</head>

<body class="garcom">
    <main class="gerenciamento-de-mesa">
        <section class="top">
            <div class="header">
                <img class="header-back" src="../Assets/Images/back.svg" alt="alt text" />
                <span class="header-title">Consulta de Cardápio</span>
            </div>
        </section>

        <section class="order-details-section">
            <h3 class="order-details-title">Detalhes do Pedido</h3>
            <div class="order-details-container">
                <div class="order-details-details">
                    <div class="employee-details">
                        <span class="employee-name">
                            Responsável: Brunna Silva
                        </span>
                        <span class="employee-code">
                            Código: XY97H
                        </span>
                    </div>
                    <div class="table-details">
                        <span class="table-id">
                            ID da mesa: 0003
                        </span>
                        <span class="table-order-id">
                            ID do pedido: 00002324
                        </span>
                        <span class="table-client-name">
                            Nome do Cliente: Carla Prado
                        </span>
                    </div>
                    <div class="preparation-details">
                        <div class="preparation-details-container">
                            <p class="employee-preparing-card">
                                <span class="employee-preparing">
                                    Preparado por:
                                    <br />
                                    <span class="employee-name-card">
                                        Vanderson Prado
                                    </span>
                                </span>
                            </p>
                            <p class="preparation-status">Status do pedido: Preparando</p>
                            <p class="preparation-eta">Tempo estimado: 20 min</p>
                        </div>
                    </div>
                </div>
                <div class="payment-details">
                    <div class="payment-details-container">
                        <div class="payment-detail-line">
                            <span class="payment-detail-text">Soma das comidas:</span>
                            <span class="payment-detail-value">R$185,00</span>
                        </div>
                        <div class="payment-detail-line">
                            <span class="payment-detail-text">Soma das bebidas:</span>
                            <span class="payment-detail-value">R$43,00</span>
                        </div>
                        <div class="payment-detail-line">
                            <span class="payment-detail-text">Taxa de serviço:</span>
                            <span class="payment-detail-value">R$39,50</span>
                        </div>
                        <div class="payment-detail-line">
                            <span class="payment-detail-text">Impostos:</span>
                            <span class="payment-detail-value">R$10,00</span>
                        </div>
                        <div class="payment-detail-method">
                            <span class="payment-method-text">
                                Modo de
                                <br />
                                pagamento:
                            </span>
                            <button class="payment-method-button">
                                <!-- TODO -->
                                Selecionar
                            </button>
                        </div>
                        <div class="order-delivery">
                            <span class="order-delivery-text">Para levar?</span>
                            <img class="payment-detail-checkbox" src="/assets/97fd8e786ff2cf1749dc0e7b3a413035.svg"
                                alt="alt text" />
                        </div>
                        <div class="payment-detail-line">
                            <span class="payment-detail-text">Soma total:</span>
                            <span class="payment-detail-value">R$277,50</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="item-cards">
            <div class="container">
                <div class="items">


                    <div class="item-card">
                        <div class="item-card-container">
                            <div class="card-description">
                                <div class="card-description-info">
                                    <div class="top-description">
                                        <span class="item-subtitle">Pizza de pepperoni</span>
                                        <span class="item-price">R$70,00</span>
                                    </div>
                                    <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1
                                        colher de sopa de
                                        azeite
                                        de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e
                                        sem
                                        sementes, 1/2
                                        cebola
                                        picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em
                                        fatias.</span>
                                </div>
                                <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png"
                                    alt="alt text" />
                            </div>
                            <div class="card-actions">
                                <div class="item-tags">
                                    <div class="item-tag item-tag-green">
                                        <span class="highlight">Tamanho F</span>
                                    </div>
                                    <div class="item-tag item-tag-yellow">
                                        <span class="highlight">Sem Lactose</span>
                                    </div>
                                    <div class="item-tag item-tag-yellow">
                                        <span class="highlight">Sem Glúten</span>
                                    </div>
                                </div>
                                <div class="increment-buttons">
                                    <div class="button button-red">
                                        <span class="symbol">-</span>
                                    </div>
                                    <div class="button button-green">
                                        <span class="symbol">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-observations">
                            <div class="card-observations-container">
                                <div class="card-items-added">
                                    <p class="card-observations-text">Itens a serem adicionados:</p>
                                    <p class="card-observations-items">Pimenta-do-reino moída.</p>
                                </div>
                                <div class="card-items-removed">
                                    <p class="card-observations-text">Itens a serem removidos:</p>
                                    <p class="card-observations-items">Queijo parmesão ralado.</p>
                                </div>
                                <div class="card-observations-others">
                                    <p class="card-observations-text">Outras observações:</p>
                                    <p class="card-observations-items">Trazer sal separado.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="item-card">
                        <div class="item-card-container">
                            <div class="card-description">
                                <div class="card-description-info">
                                    <div class="top-description">
                                        <span class="item-subtitle">Pizza de pepperoni</span>
                                        <span class="item-price">R$70,00</span>
                                    </div>
                                    <span class="description">250 g de farinha de trigo, 1 colher de sopa de açúcar, 1
                                        colher de sopa de
                                        azeite
                                        de oliva, 1/2 colher de sopa de sal, 2 dentes de alho, 2 tomates descascados e
                                        sem
                                        sementes, 1/2
                                        cebola
                                        picada, salame italiano fatiado, 1/2 pimentão em rodelas e queijo mussarela em
                                        fatias.</span>
                                </div>
                                <img class="card-description-image" src="../Assets/Images/pizza-peperonni.png"
                                    alt="alt text" />
                            </div>
                            <div class="card-actions">
                                <div class="item-tags">
                                    <div class="item-tag item-tag-green">
                                        <span class="highlight">Tamanho F</span>
                                    </div>
                                    <div class="item-tag item-tag-yellow">
                                        <span class="highlight">Sem Lactose</span>
                                    </div>
                                    <div class="item-tag item-tag-yellow">
                                        <span class="highlight">Sem Glúten</span>
                                    </div>
                                </div>
                                <div class="increment-buttons">
                                    <div class="button button-red">
                                        <span class="symbol">-</span>
                                    </div>
                                    <div class="button button-green">
                                        <span class="symbol">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="wrapper9">
                            <img class="image1" src="/assets/5b79107946891e1f2075f764a37f823a.svg" alt="alt text" />
                        </div> -->
        </section>

    </main>

</body>

</html>