<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.timeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Style/css/main.css" />
    <title>Index</title>
</head>

<body>
    <div class="form form_Start">
        <div class="form_Section">
            <div class="form_flexColumn">
                <div class="form_flexColumnContainer">
                    <img class="form_imageFigure" src="./Assets/Images/mangabas_kitchen.png" alt="alt text" />
                    <div class="form_flexColumnContent">
                        <div class="form_inputBox">
                            <p class="form_inputLabel">Email</p>
                            <div class="form_contentBox">
                                <input type="text" class="form_inputPrompt" placeholder="funcionario@exemplo.com..." />
                            </div>
                        </div>
                        <div class="form_inputBox">
                            <p class="form_inputLabel">Código de funcionário</p>
                            <div class="form_contentBox">
                                <input type="text" class="form_inputPrompt" placeholder="Insira o seu código..." />
                            </div>
                        </div>
                    </div>
                </div>
                <button id="buttonLogin" class="form_confirmButton">
                    Entrar
                </button>
                <div class="form_links">
                    <a href="./index.html" class="form_linkLabel">Gerente</a>
                    <a href="./login_cozinha.html" class="form_linkLabel">Cozinheiro</a>
                    <a href="./login_garçom.html" class="form_linkLabel">Garçom</a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>