@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: 300;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
    font-weight: 500;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../../Assets/Fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}