@import './fonts.scss';
@import './form.scss';
@import './variables.scss';

body {
    font-family: 'open_sanssemibold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    background-color: $background;
}