.garcom {
    .gerenciamento-de-mesa {
        display: flex;
        flex-direction: column;
        background-color: $background;

        .order-details-section {
            text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
            position: relative;
            align-self: center;
            justify-content: center;
            width: 85%;
            height: fit-content;

            .order-details-title {
                display: flex;
                justify-content: center;
                width: 218px;
                height: 34px;
                color: black;
                text-align: center;
                text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
            }

            .order-details-container {
                display: flex;
                gap: 0 16px;
                width: 100%;
                margin-bottom: 24px;
            }

            .order-details-details {
                display: flex;
                flex-direction: column;
                gap: 16px 0;
                width: 100%;
                min-width: 0;
            }

            .employee-details {
                display: flex;
                flex-direction: column;
                margin: 0 2px 0 0;
                background-color: white;
                border-radius: 16px;
                box-shadow: inset 1px 4px 8px 0 rgb(0 0 0 / 25%);

                .employee-name {
                    margin: 11px 7px 11px 16px;
                    width: 316px;
                }

                .employee-code {
                    margin: 11px 7px 11px 16px;
                    width: 316px;
                }
            }

            .table-details {
                display: flex;
                flex-direction: column;
                margin: 0 0 0 2px;
                background-color: white;
                border-radius: 16px;
                box-shadow: inset 1px 4px 8px 0 rgb(0 0 0 / 25%);

                .table-id,
                .table-order-id,
                .table-client-name {
                    margin: 12px 12px 12px 12px;
                    width: 316px;
                }
            }

            .preparation-details {
                display: flex;
                flex-direction: column;
                margin: 0 2px 0 0;
                background-color: rgb(90 143 50);
                border-radius: 16px;
                box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 25%);

                .preparation-details-container {
                    display: flex;
                    flex-direction: column;
                    margin: 7px auto 10.5px;
                    width: 74.93%;

                    .employee-preparing-card {
                        display: flex;
                        justify-content: center;

                        .employee-preparing {
                            color: white;
                            text-align: center;
                        }

                        .employee-name-card {
                            color: white;
                            text-align: center;
                        }
                    }

                    .preparation-status {
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 3px 11.5px 0 5.5px;
                        color: white;
                        text-align: center;
                    }

                    .preparation-eta {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 1.5px 34.5px 0 23.5px;
                        color: white;
                        text-align: center;
                    }
                }
            }

            .payment-details {
                display: flex;
                flex-direction: column;
                width: 100%;
                min-width: 0;
                background-color: white;
                border-radius: 16px;
                box-shadow: inset 1px 4px 8px 0 rgb(0 0 0 / 25%);

                .payment-details-container {
                    display: flex;
                    flex-direction: column;
                    margin: 26px 16px 18px 14px;

                    .payment-detail-line {
                        z-index: 1;
                        display: flex;
                        justify-content: space-between;
                        gap: 0 10px;
                    }
                }
            }

            .payment-detail-text {
                min-width: 0;
                color: black;
                text-shadow: 0 1px 4px rgb(0 0 0 / 25%);

                .payment-detail-value {
                    display: flex;
                    justify-content: flex-end;
                    min-width: 0;
                    color: black;
                    text-align: right;
                    text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
                }
            }

            .payment-detail-method {
                z-index: 1;
                display: flex;
                margin: 23px 0 0;

                .payment-method-text {
                    width: 180px;
                    min-width: 0;
                    color: black;
                    text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
                }

                .payment-method-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3px 0 1px;
                    min-width: 122px;
                    color: white;
                    text-align: center;
                    background-color: rgb(232 189 33);
                    border-radius: 16px;
                    padding: 4px 0;
                    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 25%);
                    text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
                }
            }

            .order-delivery {
                z-index: 1;
                display: flex;
                justify-content: space-between;
                gap: 0 10px;
                margin: 26px 0 0;

                .order-delivery-text {
                    display: flex;
                    align-items: center;
                    margin: 3px 0 1px;
                    min-width: 0;
                    color: black;
                    text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
                }

                .payment-detail-checkbox {
                    width: 24px;
                    min-width: 0;
                    border-radius: 4px;
                }
            }
        }
    }
}